/* about.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1, h2, h3 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 15px 0;
    text-align: center;
}
